body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
a{
    list-style: none;
    color: black;
    background-color:cadetblue;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
}